.nav{
    width: 100%;
    background:teal;
    display: flex;
    align-items: center;
    height: 10vh;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
li a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li{
    list-style: none;
}